<div class="container">
    <!-- <div class="about-pic-card">
      <img class="profile-pic" src="http://www.acrpl.com.au/wp-content/uploads/2015/02/Placeholder-Portrait.jpg" alt="">
    </div> -->
    <div class="">
      <h1 class="mt-4 title-text">What we do at Logic HVAC/R LLC</h1>
      <hr>
      <p class="content-text bigger-content">We are a small business but with a BIG HEART and a huge desire to continue growing over the upcoming years. Helping and assisting Home Owners and Property Managers with any HVAC needs is our passion. Our services vary from jobs as small as replacing a vent to installing a new ventilation system and equipment of any efficiency in a new development or remodeling Job. Regardless of Residential or Commercial, we have been able to succeed in all tasks that we put out hands to.</p>
      <p class="content-text bigger-content">We take HUGE PRIDE in our Work. Many service professionals say they care but we back it up with top quality work, competitive pricing and a strong relationship with our clients. Our teams backgrounds has been mainly in working side by side with new home owners and large Multi-Family complex. Beyond residential work, we have excelent refrigeration service and refrigeration installation experience as well, ranging from large grocery store walk in cooler/freezers down to smaller self contained units.</p>
      <p class="content-text bigger-content">You, our customer, are our biggest focus. A property is a massive investment and we treat each property with the same level of respect. We treat each property owner with fairness and the same respect that we treat our own family members with. At the end of the day... our business isn't about us. It's about you!</p>
  </div>
  <hr>
  <div class="comments-container">
    <h2 class="title-text">Comments from our Customers</h2>
    <div class="card reference-card container">
      <p class="reference-content">I had a big radio contractor install a furnace 2 years ago. It was a horrible experience and they left me with a system that was damaged, working incorrectly and poorly installed. <br>I called Logic and they blew my mind. The attention to detail was fantastic. The respect for my home was amazing. They treated me like family. Now my system runs great. <br>Because of their amazing work I decided to have them install central air conditioning as well. Once again, the attention to detail highly impressed me. Also, they were priced competitively and offered high quality name brand equipment with warranties. <br>I couldn't be happier and I love the relationship that the Logic guys have built with my family. They have my highest recommendation.</p>
      <h4 class="title-text reference-signature">Joel Lindow</h4>
      <p class="title-text reference-city">Northglenn, Colorado</p>
    </div>
    <div class="card reference-card container">
      <p class="reference-content">This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that.</p>
      <h4 class="title-text reference-signature">Bobby B Propertymanager</h4>
      <p class="title-text reference-city">Denver, Colorado</p>
    </div>
    <div class="card reference-card container">
      <p class="reference-content">This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that. This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that. This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that.</p>
      <h4 class="title-text reference-signature">Suzie Q Landlord</h4>
      <p class="title-text reference-city">Denver, Colorado</p>
    </div>
    <div class="end-of-gallery">
      <hr>
      <hr>
    </div>
  </div>
</div>
