<!-- <div class="gallery-banner">
<h1 class="center-text">About Company Name LLC</h1>
</div> -->
<div class="container">
  <div class="row">
    <div class="asize">
      <div class="about-pic-card">
        <img class="profile-pic" src="http://www.acrpl.com.au/wp-content/uploads/2015/02/Placeholder-Portrait.jpg" alt="">
      </div>
    </div>
    <div class="bsize">
      <div class="">
        <h1 class="mt-4 title-text">What we do at Logic HVAC/R LLC</h1>
        <hr>
        <p class="content-text">We are a small business but with a Big heart and a huge desire to grow over the upcoming years.  Helping and assisting home owners and Property Managers with any HVAC needs.  Our services will vary from as small of a job as replacing a vent to installing a new ventilation system and equipment of any efficiency in a new development or remodeling Job. Regardless of residential or commercial we have been able to succeed in all tasks necessary.</p>
        <p class="content-text">We Take Full Pride in our Work, as all May say. But we are different...  our backgrounds have been working side by side with new home owners and large Multi-Family complex. We have refrigeration service and install experience as well. Ranging from large grocery store walk in cooler/freezers down to smaller self contained units.</p>
      </div>
    </div>
  </div>
  <hr>
  <h2 class="title-text">Comments from our Customers</h2>
  <div class="card container reference-card">
    <p class="reference-content">This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that. This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that.</p>
    <h4 class="title-text reference-signature">John Q Homeowner</h4>
    <p class="title-text reference-city">Denver, Colorado</p>
  </div>
  <div class="card container reference-card">
    <p class="reference-content">This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that.</p>
    <h4 class="title-text reference-signature">Bobby B Propertymanager</h4>
    <p class="title-text reference-city">Denver, Colorado</p>
  </div>
  <div class="card container reference-card">
    <p class="reference-content">This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that. This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that. This is a reference. They did great work. Compliments. Good things. Lots of fancy words and stuff like that.</p>
    <h4 class="title-text reference-signature">Suzie Q Landlord</h4>
    <p class="title-text reference-city">Denver, Colorado</p>
  </div>
  <div class="end-of-gallery">
    <hr>
    <hr>
  </div>
</div>
