<!-- <div class="gallery-banner">
<h1 class="center-text">About Company Name LLC</h1>
</div> -->

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="card profile-card">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img class="profile-pic card" src="http://i0.wp.com/www.rmcfl.com/wp-content/uploads/2017/05/Unknown-Placeholder-Portrait-20150724A.jpg" alt="">
        </div>
        <div class="col-md-2"></div>
      </div>
      <h3 class="title-text profile-title">John Doe</h3>
      <p class="content-text">Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card profile-card">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img class="profile-pic card"  src="http://i0.wp.com/www.rmcfl.com/wp-content/uploads/2017/05/Unknown-Placeholder-Portrait-20150724A.jpg" alt="">
        </div>
        <div class="col-md-2"></div>
      </div>
      <h3 class="title-text profile-title">John Doe</h3>
      <p class="content-text">Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
