<!-- <div class="gallery-banner">
<h1 class="center-text">About Company Name LLC</h1>
</div> -->

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="card profile-card">
      <img class="profile-pic" src="" alt="">
      <h3>Jesus Diaz</h3>
      <p>Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card profile-card">
      <img class="profile-pic"  src="" alt="">
      <h3>John Doe</h3>
      <p>Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
