<div class="gallery-banner">
  <h1 class="center-text">Contact Company Name LLC</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <form>
      <div class="form-group row">
        <label for="inputName3" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="inputName3" placeholder="ex: Cameron Q. Homeowner">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="ex: homeowner@email.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPhoneNumber3" class="col-sm-4 col-form-label">Phone Number</label>
        <div class="col-sm-8">
          <input type="phone" class="form-control" id="inputPhoneNumber3" placeholder="ex: 303-252-5252">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">Property Type</div>
        <div class="col-sm-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Residential
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Commercial
            </label>
          </div>
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-4 pt-0">How would you like to be contacted?</legend>
          <div class="col-sm-8">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                Phone
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Email
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit Contact Form</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h3 class="center-text">Our Promise to You</h3>
    <p>1. We will never put pressure on you to buy something you don't want.</p>
    <p>2. We will never put pressure on you to buy something you don't need.</p>
    <p>3. We will never sell your personal information to other companies or marketing groups.</p>
    <p>4. We will treat you like family and respect your home.</p>
  </div>
</div>
