<div class="container">

  <div class="row">
    <div class="col-md-12 col-xl-12 center-text">
      <h2 class="mt-4 title-text bigger-title">Contact Us</h2>
      <hr>
      <address class="content-text bigger-content">
        <strong>Logic HVAC & Refrigeration</strong>
        <br>Denver, CO 88888
        <br>
      </address>
      <address class="content-text bigger-content">
        <abbr title="Phone">P:</abbr>
        (720) 366-3781
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:LogicHVACColorado">LogicHVACColorado@Gmail.com</a>
        <br><br>
      </address>
      <!-- <h2 class="mt-4 title-text bigger-title">Want us to call you?</h2>
      <hr>
      <p class="content-text bigger-content">
      Fill out the contact form and click the Submit button.<br>
      One of our team will be alerted and will call you as soon as they are available.<br><br>
      We will never share or sell your personal information.
    </p> -->
  </div>

  <!--  -->
  <!--  -->
  <!-- OLD GITHUB VERSIONS WILL SHOW FORM FOR MAILER SERVICE -->
  <!--  -->
  <!--  -->
</div>
</div>
<div class="end-of-gallery">
  <hr>
</div>
