<!-- <div class="gallery-banner">
<h1 class="center-text">This is the Residential Gallery</h1>
</div> -->


<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4 title-text">Residential
    <small class=" content-text">A few of our Residential Projects</small>
  </h1>
  <div class="row">
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://i.imgur.com/VBFNbx5.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://i.imgur.com/cA2LEFm.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://i.imgur.com/XvKZQ8N.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://i.imgur.com/1hKABqY.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/400x700" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/400x700" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/400x700" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
