<!-- <div class="gallery-banner">
<h1 class="center-text">This is the Residential Gallery</h1>
</div> -->


<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4 title-text">Residential
    <small class=" content-text">A few of our Residential Projects</small>
  </h1>
  <div class="row">
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/cA2LEFm.jpg" alt=""></a>
        <div class="card-body">
        <h4 class="card-title title-text">
        Long Picture Title
      </h4>
      <p class="card-text content-text">Add Description of Image at final production review</p>
    </div>
  </div>
</div>

<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/mXjhOHA.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review</p>
</div>
</div>
</div>
<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/dxEhAZW.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Very Long Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review. Very long description text for testing.</p>
</div>
</div>
</div>
<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/Reh9TtT.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review</p>
</div>
</div>
</div>
<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/tgim6hb.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review</p>
</div>
</div>
</div>
<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/VBFNbx5.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review</p>
</div>
</div>
</div>
<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/XvKZQ8N.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review</p>
</div>
</div>
</div>
<div class="col-lg-3 portfolio-item">
  <div class="card h-100">
    <a><img class="card-img-top" src="https://i.imgur.com/1hKABqY.jpg" alt=""></a>
    <div class="card-body">
    <h4 class="card-title title-text">
    Picture Title
  </h4>
  <p class="card-text content-text">Add Description of Image at final production review</p>
</div>
</div>
</div>
</div>

<div class="end-of-gallery">
  <hr>
</div>
