<div class="container">
  <h1 class="my-4">Commercial
    <small>A few of our Commercial Projects</small>
  </h1>
  <div class="row">
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/ji9sse0.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            The Right Equipment
          </h4>
          <p class="card-text content-text">We don't cut corners. At the end of the day the right tools get the right outcome.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/DyeccHb.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Need Title
          </h4>
          <p class="card-text content-text">Add description of image at final production review.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/8G3NYXX.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Picture Title
          </h4>
          <p class="card-text content-text">Add description of image at final production review.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/X3VmE9H.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Comfy Work Trailer
          </h4>
          <p class="card-text content-text">Unique Spaces still need climate control. Weve got you covered.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/Ywr4C8f.jpg?1" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Funky Spaces
          </h4>
          <p class="card-text content-text">Some retrofits call for creative solutions. We love the challenge.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/CP0IV6nr.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Walk In And Chill
          </h4>
          <p class="card-text content-text">A staple in the Grocery and Restaurant industry. Yeah, we do walk in units!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/VwWasGk.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Grocery Getter
          </h4>
          <p class="card-text content-text">Another bulk grocery unit ready to go! Call the night crew and stock those shelves. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/OqgfdoA.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            No Window Units... Please
          </h4>
          <p class="card-text content-text">Sometimes an in-wall unit is the best answer. A clean install always makes it a better final product.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/0XVuV91.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Point of Use
          </h4>
          <p class="card-text content-text">Always fun to add these units to a workspace. We'll make sure to protect the walls and trimwork too!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/SqxwVqe.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Another Retrofit
          </h4>
          <p class="card-text content-text">Another install we're very proud of. We're always trying to make a retrofit look like a new build.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/GNy1m3E.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Little Heater... Big Heat
          </h4>
          <p class="card-text content-text">This small warehouse was just too cold. We made it nice and toasty with a space effieicnt solution.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/kpjDDQk.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            New Stacks
          </h4>
          <p class="card-text content-text">Clean roof penetrations. No Leaks. Visually clean. That's something we always demand of ourselves.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<div class="end-of-gallery">
  <hr>
</div>
