<!-- <div class="gallery-banner">
<h1 class="center-text">This is the Residential Gallery</h1>
</div> -->


<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4 title-text">Residential
    <small class=" content-text">A few of our Residential Projects</small>
  </h1>
  <div class="row">
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/cA2LEFm.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            New A/C Unit
          </h4>
          <p class="card-text content-text">Charging up another freshly installed A/C unit.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/mXjhOHA.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Cellar Dweller
          </h4>
          <p class="card-text content-text">Show us the space needing a retrofit and leave the rest to us.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/dxEhAZW.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Time to Update
          </h4>
          <p class="card-text content-text">Give us a day and we'll replace that old inefficient unit with a brand new system.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/Reh9TtT.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Basement Beauty
          </h4>
          <p class="card-text content-text">With an install that pretty, it's a shame to hide it in the basement.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/tgim6hb.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Tight Spaces
          </h4>
          <p class="card-text content-text">Sometimes space is an issue. We have the experience to make things work, regardless of the challenges.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/VBFNbx5.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Narrow Minded
          </h4>
          <p class="card-text content-text">Sometimes you only have very tight areas to chase duct work. Bring it on. We can handle it.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/XvKZQ8N.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Over Your Head
          </h4>
          <p class="card-text content-text">Can't wrap your mind around how you're going to fit things into your remodel? Let us help!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 portfolio-item">
      <div class="card h-100">
        <a><img class="card-img-top" src="https://i.imgur.com/1hKABqY.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title title-text">
            Low Overhead
          </h4>
          <p class="card-text content-text">We can always tuck in some custom work and usually for much less than the big TV and Radio companies.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="end-of-gallery">
  <hr>
</div>
