<header class="business-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron jumbotron-fluid blocky">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="display-4 center-text big-heart-font" style="color: blue;">Small Company... <strong style="color:red;">Big Heart</strong></h1>
              </div>
              <div class="col-md-12">
                <div class="container">
                  <p class="lead content-text bigger-content center-text" style="padding-top: 10px; ">We know you have a lot of options in the HVAC & Refrigeration market. That's why we offer quality work, real value and trustworthy tradesmen. We can't wait to bring our expertise and passion to your home or jobsite.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row index-row">
              <div class="col-md-12 col-lg-4 my-4">
                <div class="card">
                  <div class="card-body card-body-less-pad">
                    <img class="card-img-top" src="https://i.imgur.com/ZtJcQhx.jpg" alt="">
                    <h4 class="card-title title-text bigger-title center-text">Who We Are</h4>
                    <!-- <hr class="tight-hr"> -->
                    <p class="card-text content-text center-text">What makes us different? <br>Get to know who we are and learn what our company is all about.</p>
                  </div>
                  <div class="card-footer center-text">
                    <a href="/about" class="bigger-content">About Us</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4 my-4">
                <div class="card">
                  <div class="card-body card-body-less-pad">
                    <img class="card-img-top" src="https://i.imgur.com/fk21ecI.jpg" alt="">
                    <h4 class="card-title title-text bigger-title center-text">Our Work</h4>
                    <!-- <hr class="tight-hr"> -->
                    <p class="card-text content-text center-text">We pride ourselves on our craftsmanship and our final delivered product.<br> Check out some of our work.</p>
                  </div>
                  <div class="card-footer center-text">
                    <a class="nav-item dropdown">
                      <a class="dropdown-toggle bigger-content" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gallery
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/residential">Residential</a>
                        <a class="dropdown-item" href="/commercial">Commercial</a>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4 my-4">
                <div class="card">
                  <div class="card-body card-body-less-pad">
                    <img class="card-img-top" src="https://i.imgur.com/KliDicS.jpg" alt="">
                    <h4 class="card-title title-text bigger-title center-text">Talk to Us</h4>
                    <!-- <hr class="tight-hr"> -->
                    <p class="card-text content-text center-text">We would love to get to know you, learn about your project and have a chance to earn your business. </p>
                  </div>
                  <div class="card-footer center-text">
                    <a href="/contact" class="bigger-content">Contact Us</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1> -->
      </div>
    </div>
  </div>
</header>
