<header class="business-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron jumbotron-fluid blocky">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-5">
                <h1 class="display-4 center-text big-heart-font"><small>Small Company</small><br>Big Heart</h1>
              </div>
              <div class="col-sm-12 col-lg-7">
                <p class="lead content-text bigger-content center-text" style="padding-top: 30px; ">We know you have a lot of options in the HVAC & Refrigeration market.<br>That's why we offer real value and trustworthy tradesmen.<br>We can't wait to bring our expertise and passion to your home or jobsite. </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row index-row">
              <div class="col-md-12 col-lg-4 my-4">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title title-text bigger-title center-text">Who We Are</h4>
                    <hr class="tight-hr">
                    <img class="card-img-top" src="https://i.imgur.com/ZtJcQhx.jpg" alt="">
                    <p class="card-text content-text bigger-content">What makes us different? Get to know who we are and learn what our company is all about.</p>
                  </div>
                  <div class="card-footer">
                    <a href="/about" class="btn btn-dark bigger-content">About Us</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4 my-4">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title title-text bigger-title center-text">Our Work</h4>
                    <hr class="tight-hr">
                    <img class="card-img-top" src="https://i.imgur.com/fk21ecI.jpg" alt="">
                    <p class="card-text content-text bigger-content">We pride ourselves on our craftsmanship and our final delivered product. Check some of our work out.</p>
                  </div>
                  <div class="card-footer">
                    <a class="nav-item dropdown">
                      <a class="dropdown-toggle btn btn-dark bigger-content" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gallery
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/residential">Residential</a>
                        <a class="dropdown-item" href="/commercial">Commercial</a>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4 my-4">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title title-text bigger-title center-text">Talk to Us</h4>
                    <hr class="tight-hr">
                    <img class="card-img-top" src="https://i.imgur.com/KliDicS.jpg" alt="">
                    <p class="card-text content-text bigger-content">We would love to get to know you, learn about your project and have a chance to earn your business. </p>
                  </div>
                  <div class="card-footer">
                    <a href="/contact" class="btn btn-dark bigger-content">Contact Us</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1> -->
      </div>
    </div>
  </div>
</header>
