<!-- <h1>This is the main page</h1>
<h3>index.html.erb listed as index in Main controller</h3> -->
<div class="bg">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Comfort is Achievable</h1>
      <p class="lead">Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
    </div>
  </div>

</div>
