<!-- <h1>This is the main page</h1>
<h3>index.html.erb listed as index in Main controller</h3> -->
<!-- <div class="bg">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Comfort is Achievable</h1>
      <p class="lead">Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
    </div>
  </div>

</div> -->


    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron jumbotron-fluid blocky">
              <div class="container ">
                <h1 class="display-4">Your Comfort Matters</h1>
                <p class="lead">Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat Forced Air Ipsum Refrigerant Cooling Humidified Climate Controlled Motor Speed Nest Thermostat </p>
              </div>
            </div>
            <!-- <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1> -->
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row index-row">
        <div class="col-sm-8">
          <h2 class="mt-4">What we do at Logic HVAC/R LLC</h2>

          <p>We are a small business but with a Big heart and a huge desire to grow over the upcoming years.  Helping and assisting home owners and Property Managers with any HVAC needs.  Our services will vary from as small of a job as replacing a vent to installing a new ventilation system and equipment of any efficiency in a new development or remodeling Job. Regardless of residential or commercial we have been able to succeed in all tasks necessary.</p>
          <p>We Take Full Pride in our Work, as all May say. But we are different...  our backgrounds have been working side by side with new home owners and large Multi-Family complex. We have refrigeration service and install experience as well. Ranging from large grocery store walk in cooler/freezers down to smaller self contained units.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>Company Name</strong>
            <br>12345 Street Lane
            <br>Company City, CO 88888
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (303) 000-0000
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">name@companyname.com</a>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <!-- <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div> -->
      <!-- /.row -->

    </div>
    <!-- /.container -->
