/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*

*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body{
  margin-left: 20px;
  margin-right: 20px;
}
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 300px;
}
.top-logo-div{
  // background-color: whitesmoke;
  background-image: url(https://i.imgur.com/dh7obkN.png);
}
.center-text{
  text-align: center;
}
.gallery-banner{
  color: white;
  // background-color: grey;
  background: linear-gradient(to right, lightgrey, grey, lightgrey);
}
p.foot-text{
  margin-bottom: 1px;
  font-size: 10px;
  color: white

}
.fixed-bottom{
  background-color: #343a40;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
}
.title-text{
  font-family: 'Rambla', sans-serif;
}
.content-text{
  font-family: 'Lato', sans-serif;
}
.nav-font{
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
}


//
// // ***** OLD STYLE JUMBOTRON IMAGE WITH GRAPHIC
// .bg {
//     /* The image used */
//     background-image: url("http://www.globalhealthpolicyforum.org/g/2016/12/decorating-luxury-large-cream-velvet-upholstered-coffee-table-also-cream-sofa-in-modern-living-room-plus-crystal-chandelier-best-interior-decor-for-your-home-using-upholstered.jpg");
//
//     /* Full height */
//     height: 100%;
//
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding: 30px;
//     padding-top: 70px;
//     padding-bottom: 50px;
//
// }





// GALLERY PICTURE CARD LOWER MARGIN FOR COMMERCIAL AND RESIDENTIAL START
.portfolio-item {
  margin-bottom: 30px;
}
header.business-header{
  padding-top: 20px;
}
div.jumbotron.jumbotron-fluid.blocky {
  padding-top: 20px;
  padding-bottom: 20px;
  background:rgba(255,255,255,0.9);
}
.blocky{
  max-height: 100%;
}
// GALLERY PICTURE CARD LOWER MARGIN FOR COMMERCIAL AND RESIDENTIAL STOP

.card{
  box-shadow: 5px 5px #dddddd;
}

// INDEX PAGE PICTURE HEADER STUFF START
.business-header {
  height: 40vh;
  min-height: 300px;
  background: url('http://www.globalhealthpolicyforum.org/g/2016/12/decorating-luxury-large-cream-velvet-upholstered-coffee-table-also-cream-sofa-in-modern-living-room-plus-crystal-chandelier-best-interior-decor-for-your-home-using-upholstered.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.card {
  height: 100%;
}
.index-row{
  margin-bottom: 30px;
}
// INDEX PAGE PICTURE HEADER STUFF STOP
//
// PROFILE PAGE STYLING START
.profile-card{
  margin-top: 20px;
  padding: 10px;
}
// PROFILE PAGE STYLING STOP
//
// CONTACT PAGE STYLING START
div.col-md-4.contact-text{
  background-color: lightgrey;
  margin-bottom: 40px;
  padding-top: 40px;
}
// CONTACT PAGE STYLING STOP
//
// FORM PAGE STYLING START
h4.title-text{
  margin-bottom: 0px;
}
.form-field{
  width: 100%;
  margin-bottom: 5px;
}
.sub-button{
  margin-bottom: 40px;
}
.contact-text-box{
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
// FORM PAGE STYLING STOP
//
// Mailer Styling (not working yet)
.email-logo{
  width: 100px;
}
